@tailwind base;
@tailwind components; 
@tailwind utilities;

.bord{
    @apply border border-red-600 border-solid;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}